.loader-wrapper {
  display: flex;
  justify-content: center;
}

.mover {
  background: rgba(248, 25, 25, 0.979);
  height: 10px;
  width: 80px;
  border-radius: 10px;
  position: relative;
  animation: mover5 2s ease-in-out infinite;
}

.mover::before,
.mover::after {
  content: "";
  position: absolute;
  height: 10px;
  border-radius: 10px;
  left: 20px;
  animation: mover5 2s ease-in-out infinite;
}

.mover::before {
  background: rgb(201, 1, 1);
  top: 20px;
  width: 50px;
}

.mover::after {
  background: rgb(255, 116, 106);
  top: -20px;
  width: 60px;
}

@keyframes mover5 {
  0% {
    transform: translateX(30px) scale(1);
  }

  50% {
    transform: translateX(-30px) scale(1.1);
  }

  100% {
    transform: translateX(30px) scale(1);
  }
}

/* Start .btn-1 1 */
.btn-1 {
  padding: 5px 30px;
  background: transparent;
  border: 2px solid #edff00;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  display: flex;
  overflow: hidden;
  transition: all 0.5s;
  text-transform: uppercase;
}

.btn-1:hover {
  color: #0c071e;
}

.btn-1 span {
  transition: all 0.5s;
  z-index: -1;
}

.btn-1 span:nth-child(1),
.btn-1 span:nth-child(2),
.btn-1 span:nth-child(3),
.btn-1 span:nth-child(4) {
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: #edff00;
}

.btn-1 span:nth-child(1) {
  top: -100%;
  left: 0%;
  right: 0;
}

.btn-1:hover span:nth-child(1) {
  top: 0%;
}

.btn-1 span:nth-child(2) {
  top: 10px;
  right: 100%;
}

.btn-1:hover span:nth-child(2) {
  right: 0;
}

.btn-1 span:nth-child(3) {
  top: 20px;
  left: 100%;
  right: 0;
}

.btn-1:hover span:nth-child(3) {
  left: 0;
}

.btn-1 span:nth-child(4) {
  bottom: -100%;
  left: 0;
}

.btn-1:hover span:nth-child(4) {
  bottom: 0;
}

/* End .btn-1 1 */

.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 3px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}
.bin-bottom {
  width: 12px;
}
.bin-top {
  width: 14px;
  transform-origin: right;
  transition-duration: 0.3s;
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:hover {
  background-color: rgb(255, 0, 0);
}
.bin-button:active {
  transform: scale(0.9);
}

.items-center {
  display: grid;
  place-items: center;

}
