@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
.loader-wrapper {
  display: flex;
  justify-content: center;
}

.mover {
  background: rgba(248, 25, 25, 0.979);
  height: 10px;
  width: 80px;
  border-radius: 10px;
  position: relative;
  animation: mover5 2s ease-in-out infinite;
}

.mover::before,
.mover::after {
  content: "";
  position: absolute;
  height: 10px;
  border-radius: 10px;
  left: 20px;
  animation: mover5 2s ease-in-out infinite;
}

.mover::before {
  background: rgb(201, 1, 1);
  top: 20px;
  width: 50px;
}

.mover::after {
  background: rgb(255, 116, 106);
  top: -20px;
  width: 60px;
}

@keyframes mover5 {
  0% {
    transform: translateX(30px) scale(1);
  }
  50% {
    transform: translateX(-30px) scale(1.1);
  }
  100% {
    transform: translateX(30px) scale(1);
  }
}
/* Start .btn-1 1 */
.btn-1 {
  padding: 5px 30px;
  background: transparent;
  border: 2px solid #edff00;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  display: flex;
  overflow: hidden;
  transition: all 0.5s;
  text-transform: uppercase;
}

.btn-1:hover {
  color: #0c071e;
}

.btn-1 span {
  transition: all 0.5s;
  z-index: -1;
}

.btn-1 span:nth-child(1),
.btn-1 span:nth-child(2),
.btn-1 span:nth-child(3),
.btn-1 span:nth-child(4) {
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: #edff00;
}

.btn-1 span:nth-child(1) {
  top: -100%;
  left: 0%;
  right: 0;
}

.btn-1:hover span:nth-child(1) {
  top: 0%;
}

.btn-1 span:nth-child(2) {
  top: 10px;
  right: 100%;
}

.btn-1:hover span:nth-child(2) {
  right: 0;
}

.btn-1 span:nth-child(3) {
  top: 20px;
  left: 100%;
  right: 0;
}

.btn-1:hover span:nth-child(3) {
  left: 0;
}

.btn-1 span:nth-child(4) {
  bottom: -100%;
  left: 0;
}

.btn-1:hover span:nth-child(4) {
  bottom: 0;
}

/* End .btn-1 1 */
.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 3px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}

.bin-bottom {
  width: 12px;
}

.bin-top {
  width: 14px;
  transform-origin: right;
  transition-duration: 0.3s;
}

.bin-button:hover .bin-top {
  transform: rotate(45deg);
}

.bin-button:hover {
  background-color: rgb(255, 0, 0);
}

.bin-button:active {
  transform: scale(0.9);
}

.add-page {
  min-height: 90vh;
  display: grid;
  place-items: center;
}

.container, .filter-sec {
  width: 70vw;
  max-width: 700px;
  box-shadow: 0 0 55px 0 rgba(221, 226, 68, 0.373);
  padding: 25px;
  border-radius: 20px;
}
.container form, .filter-sec form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.container form div, .filter-sec form div {
  display: flex;
  flex-direction: column;
}
.container form div input, .filter-sec form div input,
.container form div select,
.filter-sec form div select {
  padding: 10px 15px;
  margin-top: 5px;
  border-radius: 5px;
  font-family: "poppins";
}
.container form div:last-child, .filter-sec form div:last-child {
  display: grid;
  place-items: center;
}

.filter-sec {
  margin: 30px auto 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #242424;
  color: white;
  min-height: 100vh;
  font-family: "poppins";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 20px;
}
header nav {
  display: flex;
  gap: 20px;
}
header nav a {
  text-decoration: none;
  color: rgb(227, 205, 34);
  font-size: 19px;
}
header nav .active {
  text-shadow: 0 0 20px rgb(255, 247, 192);
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  margin-top: 50px;
}
.error p {
  font-size: 18px;
}
.error .text {
  color: crimson;
}

.list-page {
  min-height: calc(100vh - 100px);
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 50px;
  padding: 20px;
}

.card {
  background: #71797e;
  padding: 20px;
  border-radius: 20px;
}
.card .head {
  display: flex;
  justify-content: space-between;
}
.card section:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  margin-bottom: 20px;
}
.card section:nth-of-type(1) .letter {
  background: rgb(176, 0, 0);
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 30px;
  text-shadow: 0 0 20px white;
  font-family: poppins;
}
.card section:nth-of-type(1) .info {
  font-size: 19px;
}
.card section:nth-of-type(1) .info p:nth-of-type(2) {
  font-weight: bold;
}
.card .body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.card .body .field {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card .body .status {
  display: flex;
}
.card .body .status p {
  padding: 6px;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */